<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body ng-app="myapp">
    <div ng-controller="myctrl" >
      <label>Nhập số a:</label>
      <input type="text" ng-model="a" >
      <label>Nhập số b:</label>
      <input type="text" ng-model="b" >
      <hr>
      <button ng-click="tinhTong()">Tính tổng</button>
      <h1>{{result}}</h1>
      <h1 ng-bind="result"></h1>
    </div>
    
    </div>
    <script>
        angular.module("myapp",[]).controller("myctrl",function($scope){
            //Khai báo hàm tính bình phương 
          $scope.tinhTong=function(){
                //Khai báo biến result bằng bình phương của biến number
                $scope.result = parseInt($scope.a) + parseInt($scope.b);
            }
        });
 
    </script>
  </body>
</html>